<div id="cp_widget_0503625a-0854-4ec7-93a1-07b32aade1be">...</div><script type="text/javascript">
var cpo = []; cpo["_object"] ="cp_widget_0503625a-0854-4ec7-93a1-07b32aade1be"; cpo["_fid"] = "AoDAH4rTfhhO";
var _cpmp = _cpmp || []; _cpmp.push(cpo);
(function() { var cp = document.createElement("script"); cp.type = "text/javascript";
cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
var c = document.getElementsByTagName("script")[0];
c.parentNode.insertBefore(cp, c); })(); </script><noscript>Powered by Cincopa <a href='http://www.cincopa.com/video-hosting'>Video Streaming Hosting</a> solution.<span>sano gl</span><span>Saber la importancia que tiene utilizar las herramientas de proteción te puede ayudar a evitar un accidente de mayor gravedad </span><span>height</span><span> 400</span><span>width</span><span> 410</span><span>camerasoftware</span><span> Google</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>Que bien es sentirse seguro en el area laboral!</span><span>height</span><span> 618</span><span>width</span><span> 599</span><span>camerasoftware</span><span> Google</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>height</span><span> 190</span><span>width</span><span> 300</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>No importa la profesión que ejerzas en cualquiera vas a estar expuesto al riesgo de tener un accidente, por eso prevenlo </span><span>height</span><span> 194</span><span>width</span><span> 259</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>height</span><span> 190</span><span>width</span><span> 266</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>height</span><span> 524</span><span>width</span><span> 544</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>height</span><span> 626</span><span>width</span><span> 498</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>height</span><span> 629</span><span>width</span><span> 826</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>height</span><span> 362</span><span>width</span><span> 362</span><span>camerasoftware</span><span> Google</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>Nosotros somos los que debemos colocarle un alto al accidente, tomando todas las medidas preventivas</span><span>height</span><span> 276</span><span>width</span><span> 224</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>height</span><span> 385</span><span>width</span><span> 500</span><span>camerasoftware</span><span> Google</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>height</span><span> 1036</span><span>width</span><span> 1114</span><span>camerasoftware</span><span> Google</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span></noscript>

<!--http://www.cincopa.com/media-platform/start.aspx?fid=12476218-->





