<html>
<head>
<meta charset= "utf-8">
    <link href="css/estadistica.css" type="text/css" rel="stylesheet" >
<title>Estadistica</title>
</head>
<body >
<!--grafica general de estadistica
<h3>GRAFICA POR TRIMESTRE NOVEDAD</h3>
<br>

<%= link_to 'Grafica General - Torta 3d',  enfermedads_estadistica_path, remote: true, :method=>"get", class: "btn btn-warning btn-lg" %> -->
<%= form_tag(riesgos_estadistica_path, method: 'get', remote: true) do |f| %>
<p>Seleccione el año agraficar las Estadísticas</p>
<select id="fano" name="fano">
	<option value="2014">2014</option>
	<option value="2015">2015</option>
	<option value="2016">2016</option>
</select>
<select id="grafica" name="grafica">
	<option value="pie_3d">Torta 3D</option>
	<option value="bar">Barras</option>
	<option value="line">Linea</option>
</select>
<!--link de estadistica por riesgoscon las imagenes-->
 <p>Seleccione la forma en como desea ver las grafica</p>
 <h3>Grafica de Riesgos</h3><br>
 <button type="submit" class="btn">
 	<%= link_to image_tag("pie_3d.jpg", title: 'grafica de barras', class: "imagen"), riesgos_estadistica_path(), remote: true %> 
 </button>

<% end %>
<!--link de estadistica por incidente-->


</body>
<div id="estadis">
<%= image_tag("estadistica1.gif") %>
</div>
</html>