<html>
<head>
<meta charset= "utf-8">
    <link href="css/estadistica.css" type="text/css" rel="stylesheet" >
<title>Estadistica</title>
</head>
<body >


<h2>GRAFICA POR TRIMESTRE NOVEDAD</h2>
<br>
<%= link_to 'Grafica General',  enfermedads_estadistica_path, remote: true, :method=>"get", class: "btn btn-warning btn-lg" %> 

</body>
<div id="estadis">
<%= image_tag("estadistica1.gif") %>
</div>
</html>