<div class="ayu">
<div class="panel-group" id="accordion">
  <div class="panel">
    <div class="panel-heading tuno">
      <h4 class="panel-title tiayu ">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          FUNCIONARIO
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        El modulo de funcionario tiene un buscador que te agiliza la busqueda de un registro especifico y lo podras hacer a traves del nonbre del funcionario.
        Posteriormente encontraras un boton "Nuevo Funcionario" que te permite crear un registro con los datos de un funcionario.
        Cada registro tiene las opciones de. Ver, Editar y Eliminar, estos los podras ver de acuerdo al rol que tengas en el sistema. 
        Y por ultimo tienes la opción de pasar de paginas despues de 5 registros dandole click en "siguiente" o "anterior" 
      </div>
    </div>
  </div>
  <div class="panel ">
    <div class="panel-heading tdos">
      <h4 class="panel-title tiayu">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          NOVEDAD
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <ol> 
  <li><h3>Accidente</h3></li>
  La opción de Accidente tiene un buscador que te agiliza la busqueda de un registro especifico y lo podras hacer a traves de la fecha.
  Posteriormente encontraras un boton "Nuevo Accidente" que te permite registrar una novedad en caso de un accidente.
  Si das click en el link de "Consultar Estadista" te mostrara las estadisticas de manera trimestral. 
  Cada registro tiene las opciones de. Ver, Editar y Eliminar, estos los podras ver de acuerdo al rol que tengas en el sistema.
  Y por ultimo tienes la opción de pasar de paginas despues de 5 registros dandole click en "siguiente" o "anterior"


  <li><h3>Incidente</h3></li>

  La opción de Incidente tiene un buscador que te agiliza la busqueda de un registro especifico y lo podras hacer a traves de la fecha de reporte.
  Posteriormente encontraras un boton "Nuevo Inccidente" que te permite registrar una novedad en caso de un incidente.
  Si das click en el link de "Consultar Estadista" te mostrara las estadisticas de manera trimestral. 
  Cada registro tiene las opciones de. Ver, Editar y Eliminar, estos los podras ver de acuerdo al rol que tengas en el sistema.
   Y por ultimo tienes la opción de pasar de paginas despues de 5 registros dandole click en "siguiente" o "anterior"

  <li><h3>Riesgo</h3></li>

  La opción de Riesgo tiene un buscador que te agiliza la busqueda de un registro especifico y lo podras hacer a traves de la empresa.
  Posteriormente encontraras un boton "Nuevo Riesgo" que te permite registrar una novedad de Riesgo en caso de ser requerido.
  Si das click en el link de "Consultar Estadista" te mostrara las estadisticas de manera trimestral. 
  Cada registro tiene las opciones de. Ver, Editar y Eliminar, estos los podras ver de acuerdo al rol que tengas en el sistema.
   Y por ultimo tienes la opción de pasar de paginas despues de 5 registros dandole click en "siguiente" o "anterior"

  <li><h3>Enfermedad</h3></li>

  La opción de Enfermedad tiene un buscador que te agiliza la busqueda de un registro especifico y lo podras hacer a traves de la fecha.
  Posteriormente encontraras un boton "Nueva Enfermedad" que te permite registrar una novedad en caso de enfermase un funcionario.
  Si das click en el link de "Consultar Estadista" te mostrara las estadisticas de manera trimestral. 
  Cada registro tiene las opciones de. Ver, Editar y Eliminar, estos los podras ver de acuerdo al rol que tengas en el sistema.
  Y por ultimo tienes la opción de pasar de paginas despues de 5 registros dandole click en "siguiente" o "anterior"

  <li><h3>Incapacidad</h3></li>

  La opción de Incapacidad tiene un buscador que te agiliza la busqueda de un registro especifico y lo podras hacer a traves de la fecha de inicio.
  Posteriormente encontraras un boton "Nueva Incapacidad" que te permite registrar una novedad en caso de ser requerido.
  Si das click en el link de "Consultar Estadista" te mostrara las estadisticas de manera trimestral. 
  Cada registro tiene las opciones de. Ver, Editar y Eliminar, estos los podras ver de acuerdo al rol que tengas en el sistema.
  Y por ultimo tienes la opción de pasar de paginas despues de 5 registros dandole click en "siguiente" o "anterior"
  </ol>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading ttres">
      <h4 class="panel-title tiayu">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          CRONOGRAMA
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
         El modulo de Cronogramas tiene un buscador que te agiliza la busqueda de un registro especifico y lo podras hacer a traves de la fecha.
        En la parte inferior encontraras un boton "Nuevo Cronograma" que te permite registrar una salida en caso de ser requerido.
        Cada registro tiene las opciones de. Ver, Editar y Eliminar, estos los podras ver de acuerdo al rol que tengas en el sistema.
        Y por ultimo tienes la opción de pasar de paginas despues de 5 registros dandole click en "siguiente" o "anterior"
               
  
      </div>
    </div>
  </div>
  <div class="panel ">
    <div class="panel-heading tcuatro">
      <h4 class="panel-title tiayu">
        <a data-toggle="collapse" data-parent="#accordion" href="#cuatro">
          ESTADISTICAS
        </a>
      </h4>
    </div>
    <div id="cuatro" class="panel-collapse collapse">
      <div class="panel-body">
        En este modulo encontraras de manera general las diferentes estadisticas que se genera en las opciones del modulo de novedad     
  
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading tcinco">
      <h4 class="panel-title tiayu">
        <a data-toggle="collapse" data-parent="#accordion" href="#cinco">
          GALERIA
        </a>
      </h4>
    </div>
    <div id="cinco" class="panel-collapse collapse">
      <div class="panel-body">
        En este modulo encontraras unos items para prevenir que hayan accidente, incidente, riesgo, enfermedad e incapacidad; tambien veras una serie de imgenes alusivas al area de salud ocupacional.      
  
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading tseis">
      <h4 class="panel-title tiayu">
        <a data-toggle="collapse" data-parent="#accordion" href="#seis">
          SEGURIDAD
        </a>
      </h4>
    </div>
    <div id="seis" class="panel-collapse collapse">
      <div class="panel-body">
        En este modulo se asignaran los diferentes roles del sistema, los cuales permitiran tener acceso limitado a operaciones como: Ver, Editar, Eliminar.
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading tsiete">
      <h4 class="panel-title tiayu">
        <a data-toggle="collapse" data-parent="#accordion" href="#siete">
          EDITAR PERFIL
        </a>
      </h4>
    </div>
    <div id="siete" class="panel-collapse collapse">
      <div class="panel-body">
        Esta opción le permite modificar los datos con los cuales antes de loguearse ingreso a la cuenta. Podras editar en él el password e email. 
  
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading tocho">
      <h4 class="panel-title tiayu">
        <a data-toggle="collapse" data-parent="#accordion" href="#ocho">
         SALIR
        </a>
      </h4>
    </div>
    <div id="ocho" class="panel-collapse collapse">
      <div class="panel-body">
       Esta opción te permite cerrar sesión, de esta forma tendras la seguridad de que otra persona no podra entrar a menos de que vuelva a iniciar sessión  
      </div>
    </div>
  </div>
</div>  
</div>