
<html>
<head>
<title>Guia</title>
</head>
<body>

<div class="imainicio">
<img src="assets/mu.png" class="ima">
</div>


 <div id="border">
 <center class="fadeIn"><h1><b>¡ EMPECEMOS !</b></h1></center><br><br>


    <div class="cont">
<section class="main">
      
        <ul class="ch-grid">
          <li>
            <div class="ch-item ch-img-1">  
              <div class="ch-info-wrap">
                <div class="ch-info">     
                  <div class="ch-info-front ch-img-1"></div>
                  <h3 class="ti">Paso 1</h3> 
                  <div class="ch-info-back">
                    
                    <p>Ingresa al módulo de funcionarios podrá realizar un registro de sus datos personales para tener un control de todos los que reporten una novedad en el sistema.</p>
                  </div>  
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item ch-img-1">
              <div class="ch-info-wrap">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-1"></div>
                  <h3 class="ti">Paso 2</h3> 
                  <div class="ch-info-back">
                    <p>Ingresa al módulo de novedad podrá registrar las diferentes eventualidades que se presenten en el área  de salud ocupacional y posteriormente podrá ver e interactuar con ellas.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item ch-img-1">
              <div class="ch-info-wrap">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-1"></div>
                  <h3 class="ti">Paso 3</h3>
                  <div class="ch-info-back">
                    <p>Ingresa al módulo de cronograma podrá registrar las distintas salidas que se presenten fuera de la entidad.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item ch-img-1">
              <div class="ch-info-wrap">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-1"></div>
                  <h3 class="ti">Paso 4</h3>
                  <div class="ch-info-back">
                    <p>Ingresa al módulo de estadística  podra obtener un informe detallado trimestralmente de las novedades que se presente como lo son  accidentes, incidentes, riesgo, incapacidad y enfermedades.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item ch-img-1">
              <div class="ch-info-wrap">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-1"></div>
                  <h3 class="ti">Paso 5</h3>
                  <div class="ch-info-back">
                    <p>Ingresa  al módulo de galeria encontrara una serie de imágenes, con unos mensajes que hacen alusión a la prevención de las diferentes novedades.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item ch-img-1">
              <div class="ch-info-wrap">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-1"></div>
                  <h3 class="ti">Paso 6</h3>
                  <div class="ch-info-back">
                    <p>Ingresa al módulo de editar perfil y podrá cambiar sus datos ingresados que fueron requeridos al registrarse en sistema</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        
      </section>
    </div>

   </div>  

</body>
</html> 

