<br><br><br><br><br><br><br><br><br><br>

<html>
<head>
<title>Guia</title>
</head>
<body>
     

 <div id="border">

    <h4>BIENVENIDO A SANO</h4>

    <p class="inter">En esta interfaz te daremos una breve introducción para que te sea  fácil navegar por el sistema.<br>
    En la parte superior encontraras un menú y posteriormente  los diferentes modulo del sistema con los cuales podrás interactuar. </p>

    <h4>¡ EMPECEMOS !</h4>

  <div id="pasos">
   
   <div id="paso2">
      <p>PASO 1:<br>
      Si ingresas al módulo de funcionario podrás registrar sus datos requeridos en el formulario para tener un control de todos los que reporten una novedad en el sistema. </p>
   </div>

   <div id="paso1">
      <p>PASO 2:<br>
      Si ingresas al módulo de novedad podrás registrar los diferentes eventos que se presenten presentan en el área  de salud ocupacional y posteriormente podras ver e interactuar con ellos.</p>
   </div>
   
   <div id="paso3">
     <p>PASO 3:<br>
      Si ingresas al módulo de cronograma podrás registrar las distintas salidas que se presente fuera de la entidad.</p>
  </div>

  <div id="paso4">
     <p>PASO 4:<br>
    Si ingresas al módulo de estadística  podrás obtener un informe detallado trimestralmente de las novedades que se presente como lo son  accidentes,<br>incidentes, riesgo, incapacidad<br>y enfermedades.</p>
 </div>

  <div id="paso5">
    <p>PASO 5:<br>
    Si ingresas al módulo de seguridad podrás crear un perfil en el sistema para poder tener privilegios de  administrador, asignar<br> y cambiar perfiles o roles, habilitar o deshabilitar funcionario.</p>
  </div>

  <div id="paso6">
     <p>PASO 6:<br>
    Si ingresas al módulo de ayuda podrás  ver qué función tiene cada módulo y opción del sistema,es decir, que le enseña a utilizarlo,<br> consultar las diferente funcionalidades,<br>  modificar los mismos de acuerdos a las diferentes actualizaciones que se le hagan al sistema.</p>
  </div>

  </div>

    

   </div>  

</body>
</html> 

