
<html>
<head>
<title>Guia</title>
</head>
<body>

<div class="imainicio">
<%= image_tag("mu.png") %> 
</div>


 <div id="border">

    <h4>BIENVENIDO A SANO</h4>

    <p class="inter">En esta interfaz te daremos una breve introducción para que te sea  fácil navegar por el sistema.<br>
    En la parte superior encontraras un menú y posteriormente  los diferentes modulo del sistema con los cuales podrás interactuar. </p>

    <h4>¡ EMPECEMOS !</h4>

  <div id="pasos">
   
   <div id="paso2">
      <p>PASO 1:<br>
      Si ingresa al módulo de funcionarios podrá realizar un registro de sus datos personales para tener un control de todos los que reporten una novedad en el sistema. </p>
   </div>

   <div id="paso1">
      <p>PASO 2:<br>
      Si ingresa al módulo de novedad podrá registrar las diferentes eventualidades que se presenten en el área  de salud ocupacional y posteriormente podras ver e interactuar con ellas.</p>
   </div>
   
   <div id="paso3">
     <p>PASO 3:<br>
      Si ingresa al módulo de cronograma podrá registrar las distintas salidas que se presenten fuera de la entidad.</p>
  </div>

  <div id="paso4">
     <p>PASO 4:<br>
    Si ingresa al módulo de estadística  podra obtener un informe detallado trimestralmente de las novedades que se presente como lo son  accidentes,<br>incidentes, riesgo, incapacidad<br>y enfermedades.</p>
 </div>

  <div id="paso5">
    <p>PASO 5:<br>
    Si ingresa  al módulo de noticias encontrara una serie de imágenes, con unos mensajes que hacen alusión a la prevención de las diferentes novedades. 
    
  </div>

  <div id="paso6">
     <p>PASO 6:<br>
   Si ingresa al módulo de seguridad podrá crear un perfil en el sistema para poder tener privilegios de  administrador, asignar<br> y cambiar perfiles o roles, habilitar o deshabilitar funcionario.</p>
    
  </div>

  </div>

    

   </div>  

</body>
</html> 

