<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipo_salida.nombre %>
</p>

<%= link_to 'Editar', edit_tipo_salida_path(@tipo_salida), :class => "btn btn-warning btn-xs" %> |
<%= link_to 'Atras', tipo_salidas_path, :class => "btn btn-default btn-xs" %>
