<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipoincidente.nombre %>
</p>

<%= link_to 'Edit', edit_tipoincidente_path(@tipoincidente) %> |
<%= link_to 'Back', tipoincidentes_path %>
