<div class="index">
<% if can? :read, @user%>
<center class="fadeIn"><h1><b>USUARIOS</b></h1></center><br>
<div class="ctable">
<table class="table table-striped">
  <thead>
    <tr>
     <th>Nombre</th>
      <th>Documento</th>
      <th>Email</th>
      
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
  
 
     <%= render @users %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'Nuevo Usuario', new_user_path, remote: true, class: "btn btn-primary btn-xs" %>

<%end%>
</div>