<% if can? :read, @user%>

<center class="fadeIn"><h1><b>USUARIOS REGISTRADOS </b></h1></center><br><br>

<table class="table table-bordered">
  <thead>
    <tr>
     <th>Nombre</th>
      <th>Documento</th>
      <th>Email</th>
      
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
  <div class="login">
<%= image_tag("Final.gif") %> 
</div>
 
     <%= render @user %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Usuario', new_user_path, remote: true, class: "btn btn-primary btn-xs" %>

<%end%>