<div class="contenido ">
	<div class="img1"></div>
	<div class="img2"></div>
		<ul class="nav nav-tabs" style="margin-bottom: 15px;">

		</ul>
	<div id="myTabContent" class="tab-content">
  		<div class="tab-pane fade active in cont1" id="inicio">
			<h1>Editar evento</h1>
			<%= render 'form' %>
			<%= link_to 'Ver', @event %> |
			<%= link_to 'Atras', events_path %>
		</div>
	</div>
</div>