<h1>Editar accidente</h1>
<div class="jumbotron accidente">
<%= render 'form' %>

<%= link_to 'Ver', @accidente, class: "btn btn-success btn-xs" %> |
<%= link_to 'Atras', accidentes_path, class: "btn btn-default btn-xs" %>

</div>