<center><h1><b>GALERIA</b></h1></center><br><br>
<div id="albums">
	<table>
			 <thead>
			    <tr>
			      <th></th>
			      <th colspan="3"></th>
			    </tr>
			 </thead>
	    <tbody>
           <%= render @albums %>
     </tbody>

	</table>
</div>
<br>

 <% if can? :create, @album%>
<%= link_to 'Nuevo Imagen', new_album_path, :remote => true,  class: "btn btn-primary btn-xs" %>
<%end%>