<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tiponovedad.nombre %>
</p>

<%= link_to 'Edit', edit_tiponovedad_path(@tiponovedad) %> |
<%= link_to 'Back', tiponovedads_path %>
