<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipoaccidente.nombre %>
</p>

<%= link_to 'Editar', edit_tipoaccidente_path(@tipoaccidente) %> |
<%= link_to 'Atras', tipoaccidentes_path %>
