/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */


/* 
 
 *= require lazybox 
 *= require_tree . 
 *= require_self 
 *= require bootstrap-datepicker
 */ 
 


 /*Estilos del primer menu*/
#menu1{
	padding-left:0px; 
	margin-left: 0px;
	margin-top: 15px; 

}

#menu1 li{
list-style:none; 
float:left;
}

#menu1 li a{
display:block; 
width:150px;
height:50px; 

 border-collapse: separate;
  border-spacing: 5px;
 background:  url("gradient.gif") bottom left repeat-x;
 color: #F5DEB3;
 border:double;
padding:0px;
text-decoration:none;
text-align:center; 
color:#fff;
font-family:arial; 
font-size:15px;
font-weight:bold;
}

#menu1 li a:hover{
background:#F5DEB3;
border-color:#FFFFFF;
color:#000000;
}

#menu1 li ul{
display:none; 
position:absolute;
}

#menu1 li ul li {
display:block; 
float:none; 
position:relative; 
padding:0px;
}

#menu1 li:hover ul{
display:block; 
padding-left:0px;
}

#menu1 li ul li a{
display:block;
}


