h2{
color:blue;
}
h3{
	color:blue;
	margin-left: 20px;
}
#estadis{
 margin: 0px auto;

 background-position: 60% 200%;
 background-repeat: no-repeat;
position: absolute;
right: 0px;
bottom: -400px;
top:-100;


}
.imagen{
	float:left;
	size:20px 10px 5px 5px;
	margin-left: 50px;
	max-width:70px;
	max-height: 50px;
}
