.formulario{
	width: 650px;
	height: 470px;
	border: 2px black solid;
	overflow-x:scroll;
	margin-top: 10px;

}

.enfermedad{
    width: 540px;
    height: 200px;
    border: 2px black solid;
    overflow-x:scroll;
    margin-top: 10px;

}

/*table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    	width: -200%;
}
thead {
    border: 2px solid black;
    border-collapse: collapse;
    color: #00d;

}



 
Estilos del menu principal con los modulos
______________________________________________________________________________

*/ 


.menu{
    list-style:none;
    padding:0px;
    margin:0px;

}
.menu li{
    margin:0px;
    padding:0px;
    float:left;
    position:relative;
    top:1px;
}
.menu li a{
    display: block;
    width: 80px;
    height: 50px;
    padding: 7px;
    line-height:30px;
    text-decoration: none;
    text-align: center;
    color: #FFF;
    background-color: #044687;
    position: relative;
 
}
.menu li .navc{
    width: 80px;
    height: 30px;
    padding: 4px;
}
.menu li a:hover{
    background-color:#033769;
}
.menu ul{
    position:absolute;
    left:10px;
    top:37px;
    margin:0px;
    list-style:none;
    padding:0px;
    opacity:0;
    transition:opacity .35s ease .2s;
    -webkit-transition:opacity .35s ease .2s;
    -moz-transition:opacity .35s ease .2s;
    -o-transition:opacity .35s ease .2s;
    visibility:hidden;  
}
.menu ul li a{
    border-left:none;
    display:block;
    text-align:left;
}
.menu li:hover ul{
    opacity:1;
    visibility:visible;
}
.nav1{
    left:432px;
    top:-49px;
}
.nav2{
    left: 432px;
    top:-49px;
}
.nav3{
    left: 750px;
    top:-49px;
}
.nav4{
    left: 765px;
    top:-49px;
}

.nav5{
    left:432px;
    top:-49px;
    
}

.paginac{
    width: 100%;
    height: 100%;
}
.conten{
    width: 100%;
    height: 570px;
    background-image: url("fondo.png");
    background-repeat: no-repeat;
    background-size: 1370px 660px;
}



/*estilos de los pasos para manejar el software "inicio"*/
/*Estilos para los pasos*/
#pasos
{
    max-width: 100%;
}

#pasos div 
{
    float: left;
    margin: 1em;
    padding: .5em;
    border: 1px solid #000;
    width: 300px;
    height: 155px;
    font-family: georgia;
}

h4
{
    margin-left: 450px;
    font-family: georgia;
}

p{
    text-align: justify;
    font-family: georgia;
}

.inter
{
    font-family: georgia;
}

