<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipoincapacidad.nombre %>
</p>

<%= link_to 'Edit', edit_tipoincapacidad_path(@tipoincapacidad) %> |
<%= link_to 'Back', tipoincapacidads_path %>
