<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @personalinvolucrado.nombre %>
</p>

<%= link_to 'Editar', edit_personalinvolucrado_path(@personalinvolucrado) %> |
<%= link_to 'Atras', personalinvolucrados_path %>
