
<center class="fadeIn"><h1><b>BIENVENIDO A SANO</b></h1></center><br><br>


<p class="introduccion">El Proyecto SANO, busca simplificar costos, optimizar recursos, mejorar la eficiencia, eficacia y optimización del tiempo para una mayor productividad y rendimiento en el area de salud ocupacional para el registro de las novedades como lo son:<br>
 
<br> incidentes, accidentes, enfermedades, riesgo, incapacidades. <br>Las empresas deberán propender por el bienestar de los trabajadores en las empresas, para esto se ideo las recomendaciones para los empleados.


