
<center class="fadeIn"><h1><b>BIENVENIDO A SANO</b></h1></center><br><br>



<p class="introduccion">El Proyecto SANO, es un software que busca desarrollar soluciones al área de Salud Ocupacional de las organizaciones, para dar respuesta  a las siguientes necesidades: registro de datos personales, incidentes, accidentes, enfermedades y riesgo laboral, incapacidades, cronograma de salidas, entre otros.<BR><BR>

Con el objetivo de preservar, mantener y mejorar la salud individual y colectiva de los trabajadores en sus correspondientes ocupaciones y actividades, el Programa SANO busca simplificar costos, optimizar recursos, mejorar la eficiencia, eficacia y optimización del tiempo para una mayor productividad y rendimiento teniendo como factor importante las campañas de promoción y prevención que deberán propender por el bienestar de los trabajadores en las empresas y así, identificar, evaluar y controlar los factores de riesgo profesionales, accidentes de trabajo, enfermedades profesionales y de rehabilitación, además de dar cumplimiento a la normatividad legal vigente en materia de Salud Ocupacional.</p>