<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipoenfermedad.nombre %>
</p>

<%= link_to 'Edit', edit_tipoenfermedad_path(@tipoenfermedad) %> |
<%= link_to 'Back', tipoenfermedads_path %>
