<footer class="footer">
  <small>
  </small>
  <nav>
    <ul>
<<<<<<< HEAD
      <li class="cred"><%= link_to "Créditos", about_path, :remote => true %></li>
=======
      <li><%= link_to "SANO", about_path, :remote => true %></li>
>>>>>>> 7bf4feb54f5ecdf1943a197dd47da9da26775c73
    </ul>
  </nav>
</footer>